body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: bisque;
  }
  
  header {
	background-color: #007bff;
	color: #fff;
	padding: 20px;
  }
  
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .chatbox{
	width: 500px;
	background-color: #121212;
	border-radius: 8px;
	overflow: hidden;
  }
  
  .textarea {
	height: 400px;
	overflow-y: scroll;
	padding: 20px;
  }
  
  .messages {
	display: flex;
	flex-direction: column;
  }
  
  .message {
	margin-bottom: 10px;
	background-color:aqua;
	padding: 10px;
	border-radius: 4px;
  }
  
  .userinput{
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #fff;
  }
  
  #messageinput {
	flex-grow: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  #textbutton {
	padding: 8px 16px;
	margin-left: 10px;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
  }
  
  #textbutton:hover {
	background-color: #b30000;
  }
